.caption-text {
  border: 1px solid #00b8e6;
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: left;
  width: 250px;
  height: 100px;
  border-radius: 4px;
}

.uploaded-images {
  max-height: 250px;
  max-width: 250px;
  padding: 10px;
  border: 1px dashed #00b8e6;;
  margin: 10px;
  width: 70;
}

.delete {
  position: relative;
  top: 28px;
  right: -125px;
}

.button svg, .delete svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg)
}

.button svg:hover, .delete svg:hover {
  filter: drop-shadow(4px 4px 4px #999);
  transform: rotate(-0.6deg);
  cursor: pointer
}

.delete svg {
  filter: drop-shadow(1px 1px 1px #999)
}

.delete svg:hover {
  filter: drop-shadow(1.5px 1.5px 1.5px)
}

/* Animations */
.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

