.review-form {
  padding: 0 20px;
  text-align: center;
  margin: 0 auto 20px auto;
}

.star-rating-select {
  max-height: 50px !important;
}

.star-rating-select label {
  font-size: 20px;
}

.review-text {
  border: 1px solid #00b8e6;
  display: block;
  font-size: 1.1em;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  width: 100%;
  min-height: 258px;
  border-radius: 4px;
}

.error {
  color: red;
}

.review-btn, .upload-btn {
  border: 1px solid #0045e6;
  background-color: #0045e6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  padding: 8px 12px;
  width: 200px;
  margin: 10px 0;
}

.review-btn:hover, .review-btn:active, .review-btn:focus, 
.upload-btn:hover, .upload-btn:active, .upload-btn:focus {
  background-color: #002885;
  border: 1px solid #002855;
}

.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 20px; */
}

.upload-btn {
  display: flex;
  flex-direction: row; 
  margin: 20px auto 10px auto;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

@media only screen and (min-width: 700px) {
  .review-form {
    width: 80%;
  }
  .render-container {
    display: flex;
    flex-direction: row;
  }
}
