.review-form {
  padding: 0 20px;
  text-align: center;
  margin: 0 auto 20px auto;
}

.star-rating-select {
  max-height: 50px !important;
}

.star-rating-select label {
  font-size: 20px;
}

.review-form textarea {
  border: 1px solid #00b8e6;
  display: block;
  font-size: 1.1em;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  width: 100%;
  min-height: 258px;
  border-radius: 4px;
}

.error {
  color: red;
}

.review-btn, .photo-upload-btn {
  border: 1px solid #00b8e6;
  background-color:  #00b8e6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 10px 0;
  width: 200px;
}

.photo-upload-btn {
  margin: 10px 0 0 0;
}

.photo-upload-btn span {
  margin-left: 10px;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

@media only screen and (min-width: 700px) {
  .review-form {
    width: 80%;
  }
  
  .button-container {
    display: inline-block;
  }

  .review-btn, .photo-upload-btn {
    display: inline-block;
  }

  .review-btn {
    margin-right: 15px;
  }
}
