.container {
  display: flex;
  flex-direction: column;
  /* height: 75vh; */
  justify-content: space-around;
}

.upload-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #00b8e6;
  background-color:  #00b8e6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px 12px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  margin: 0 auto;
}

.upload-btn span {
  align-self: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  color: #00b8e6;
}

.button {
  margin: 0 5vw
}

.upload-header {
  font-size: 22px;
  margin-top: 40px;
}

.images {
  display: flex;
  justify-content: center;
}

.delete {
  position: relative;
  top: 28px;
  right: -125px;
}

.button svg, .delete svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg)
}

.button svg:hover, .delete svg:hover {
  filter: drop-shadow(4px 4px 4px #999);
  transform: rotate(-0.6deg);
  cursor: pointer
}

.delete svg {
  filter: drop-shadow(1px 1px 1px #999)
}

.delete svg:hover {
  filter: drop-shadow(1.5px 1.5px 1.5px)
}

input[type=file] { 
  visibility: hidden;
  position: absolute
}

.uploaded-images {
  max-height: 250px;
  max-width: 250px;
  padding: 10px;
  border: 1px dashed #00b8e6;;
  margin: 10px;
  width: 70;
}

.btn-container {
  max-height: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  width: 25%;
  flex-wrap: wrap;
}  

/* Animations */
.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

