/* Keep footer at bottom */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
}

.App {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 72.4px; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* end of keep footer at bottom */

.App__main {
  position: relative;
  min-height: calc(92vh - 79px);
}
