.login-form {
  padding: 10px 0;
  text-align: left;
}

.login-form input {
  border: 1px solid #aaa;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  width: 100%;
  border-radius: 4px;
}

.login-btn {
  border: 1px solid #aaa;
  background-color: #eee;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 30px auto 10px auto;
  display: block;
}

.login-btn:hover, .login-btn:focus, .login-btn:active {
  background-color: #0045e6;
  border: 1px solid #0045e6;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.signup {
  flex-direction: flex-end;
}