.searchbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 10px;
  background-color: #b3f0ff;
  margin: 0 auto;
}

.search-form, .filter-form {
  text-align: left;
}

.search-form input {
  float: left;
  display: block;
  margin-bottom: 10px;
  padding: 5px 8px;
  text-align: left;
  width: 90%;
  border: 3px solid #00b8e6;
  border-radius: 8px 0 0 8px;
  font-weight: bold;
  font-family: 'Source Sans Pro';
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444;;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #444;;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #444;;
}

.search-btn {
  font-weight: bold;
  font-family: "Source Sans Pro";
  color: white;
  float: left;
  width: 10%;
  padding: 5px;
  background-color: #00b8e6;
  border: 3px solid #00b8e6;
  border-left: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.filters {
  border: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.form-label, .form-select {
  padding: 5px 8px;
  border: 3px solid #00b8e6;
  background-color: white;
  font-size: 16px;
}

.form-label {
  display: inline-block;
  text-align: left;
  border-right: none;
  line-height: normal;
  font-weight: bold;
}

.form-select {
  -webkit-appearance:none;
  border-left: none;
  color: #444;
  font-family: 'Source Sans Pro';
}

.filter-category {
  margin-bottom: 10px;
}

.filter-category label, .filter-neighborhood label {
  border-radius: 8px 0 0 8px;
  padding: 5px 8px;
}

.filter-category select, .filter-neighborhood select {
  border-radius: 0 8px 8px 0;
}

.filter-category label {
  width: 85px;
}

.filter-category select {
  -webkit-appearance:none;
  width: calc(100% - 85px);
  padding: 5px 8px;
}

.filter-neighborhood label {
  width: 125px;
}

.filter-neighborhood select {
  -webkit-appearance:none;
  width: calc(100% - 125px);
  padding: 5px 8px;
}

input, option, button {
  cursor: pointer;
  font-size: 16px;
}

@media only screen and (min-width: 950px) {
  .searchbar {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .searchbar {
    width: 70%;
  }
}

