.searchbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 10px;
  background-color: #b3f0ff;
  margin: 0 auto;
  font-family: 'Source Sans Pro';
}

.search-form, .filter-form {
  text-align: left;
}

.search-form input {
  float: left;
  display: block;
  font-family: 'Source Sans Pro';
  margin-bottom: 10px;
  padding: 5px 8px;
  text-align: left;
  width: 90%;
  border: 3px solid #00b8e6;
  border-radius: 8px 0 0 8px;
  font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-size: 16px;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #444;
  font-size: 16px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #444;
  font-size: 16px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

.search-btn {
  color: white;
  font-weight: 700;
  float: left;
  width: 10%;
  padding: 6px 5px 5px 5px;
  background-color: #00b8e6;
  border: 3px solid #00b8e6;
  border-left: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.search-btn:hover, .search-btn:focus, .search-btn:active {
  background-color: #0045e6;
  border: 3px solid #0045e6;
  transition: all 0.3s;
}

.form-label {
  display: none;
}

.form-select {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  width: 100%;
  color: #444;
  padding: 5px 8px;
  border: 3px solid #00b8e6;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.category {
  margin-bottom: 10px;
  margin-right: 4%;
}

input, option, button {
  cursor: pointer;
  font-size: 16px;
}

@media only screen and (min-width: 560px) {
  .form-select {
    width: 48%;
  }

  .category {
    margin-right: 4%;
  }
}

@media only screen and (min-width: 950px) {
  .searchbar {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .searchbar {
    width: 70%;
  }
}

