.ril__caption {
  justify-content: center !important;
}

.image-row {
  display: flex;
  justify-content: center;
}

.image-item {
  flex: 33.322%;
  width: 33.322%;
  position: relative;
  max-width: 250px;
  cursor: pointer;
  transition: transform .5s ease;
  margin: 5px;
}

.image-item img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  line-height: 1.25;
  padding: 10px;
  text-align: center;
}

.image-item:hover {
  transform: scale(1.1)
}

.image-item:hover .overlay {
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .image-item {
    flex: 33.322%;
    width: 33.322%;
    /* max-width: 250px; */
  }
}
