.place-images-container {
  height: 100%;
  width: 100%;
  /* margin: 10px auto; */
}

.place-header-basicinfo {
  text-align: left;
  margin: 20px 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.place-header-basicinfo h2 {
  margin: 0;
  font-size: 22px;
}

.place-header-tags p {
  margin: 0;
}

.star-rating {
  margin-right: 8px;
}

.place-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  margin: 20px 10px;
  padding-bottom: 20px;
}

.place-hours {
  display: flex;
  justify-content: left;
  margin: 20px 10px 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.place-hours-icon {
  display: flex;
  width: 10%;
  justify-content: center;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
} 

.place-hours-content {
  text-align: left;
  width: 89%;
}

.place-hours-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.place-hours-table-column-left {
  min-width: 110px;
  padding-right: 10px;
}

.place-map {
  display: flex;
  margin: 10px 10px 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.place-map-icon {
  display: flex;
  width: 10%;
  justify-content: center;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
}

.place-map-content {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 89%;
}

.place-address {
  align-self: center;
  margin-right: 20px;
}

.place-map-container {
  height: 250px;
  width: 250px;
}

.place-features {
  display: flex;
  margin: 20px 10px 0 0;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.place-features-icon {
  display: flex;
  width: 10%;
  justify-content: center;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
}

.place-features-content {
  width: 89%;
  text-align: left;
}

.features-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 10px;
}

.features-list > p {
  margin: 5px 15px 5px 0;
  padding: 5px 8px; 
  border: 1px solid  #00b8e6;
  background-color:  #00b8e6;
  color: white;
  border-radius: 15px;
}

.places-item-reviews {
  margin: 0;
  padding: 0;
}

.place-reviews {
  text-align: left;
  margin: 0 10px 0 10px;
}

.place-reviews-header {
  margin-top: 20px;
}

.place-reviews > h2, ul {
  padding: 0;
}

.write-review-btn-container {
  text-align: left;
  margin: 10px;
  padding: 15px 0;
}

.write-review-btn {
  border: 1px solid #00b8e6;
  background-color:  #00b8e6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px 12px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  margin: 0 auto;
}

.write-review-btn span {
  margin-left: 10px;
  color: white;
}

.write-review-btn svg {
  color: white;
}

@media only screen and (min-width: 950px) {
  .place-page {
    width: 70%;
    margin: 0 auto;
  }
 
}
