.place-page {
  width: 100%;
  margin: 0 auto;
}

.place-images-container {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 10px;
}

@media only screen and (min-width: 950px) {
  .place-page {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .place-page {
    width: 70%;
  }
}

