.Header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  height: 10vh;
  margin: 0;
  background-color: #00b8e6;
  font-family: 'Fredoka One', cursive;
}

.hidden {
  visibility: hidden;  
}

.show {
  display: inline;
}

.Header h1 {
  font-size: 28px;
  padding: 10px 0 0 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.Header a {
  margin: 0 20px;
}

nav {
  padding-top: 15px;
}