.Header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  height: 10vh;
  margin: 0;
  background-color: #aaa;
}

h1 {
  font-size: 24px;
  padding: 10px 0 0 20px;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0 20px;
  cursor: pointer;
}

.login {
  float: right;
}