.overlay {
  padding: 5%;
  position: absolute; 
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  font-size: 16px;
  line-height: 1.25;
  padding: 10px;
  text-align: center;
}

.image-item:hover {
  transform: scale(1.1)
}

.image-item:hover .overlay {
  opacity: 1;
}
