.places-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 20px;
}

.places-header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-content: center;
  height: 5vh;
  margin: 0 0 20px 0;
}

.sort-results-form {
  margin: 0;
}

.sort-results {
  margin-right: 10px;
}

.sort-select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
