.places-item-reviews {
  margin: 0;
  padding: 0;
}

.place-reviews {
  text-align: left;
  margin: 0 10px 0 10px;
}

.place-reviews-header {
  margin-top: 20px;
}

.place-reviews > h2, ul {
  padding: 0;
}

.write-review-btn-container {
  text-align: left;
  margin: 10px;
  padding: 15px 0;
}

.write-review-btn {
  border: 1px solid #0045e6;
  background-color:  #0045e6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px 12px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  margin: 0 auto;
}

.write-review-btn a {
  color: #fff;
}

.write-review-btn span {
  margin-left: 10px;
}

.write-review-btn:hover, .write-review-btn:focus, .write-review-btn:active, .write-review-btn a:hover, .write-review-btn a:focus, .write-review-btn a:active {
  background-color: #002885;
  transition: all 0.3s;
}


