body {
  margin: 0;
  font-size: 16px;
  color: #444;
  background-color: #b3f0ff;
  text-align: center;
  line-height: 1.5;
  font-family: 'Fredoka One', cursive;
  font-family: "Source Sans Pro", "Open Sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red {
  color: #CA1551;
}

.gold {
  color: #ffbf00;
}

input {
  cursor: pointer;
}

select {
  cursor: pointer;
}



